@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}
::-webkit-scrollbar-thumb:active {
  background: #5c5c5c;
}
::-webkit-scrollbar-track {
  background: #c7c7c7;
  border: 0px none #ffffff;
  border-radius: 41px;
}
::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}
::-webkit-scrollbar-track:active {
  background: #c4c4c4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.highcharts-label .highcharts-tooltip .highcharts-color-0 {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(263px, 218px) !important;
}
